title: {{.Title}}
html: {{.HTML}}
SafeHTML: {{.SafeHTML}}
dot: {{.}}

<a title="{{.Title}}"></a>
<a title="{{.HTML}}"></a>

<a href="{{.HTML}}"></a>
<a href="?q={{.HTML}}"></a>
<a href="{{.Path}}"></a>
<a href="?q={{.Path}}"></a>

<script>
  var dog = {{.Dog}};
  var map = {{.Map}};
  doWork({{.Title}});
</script>